* {
    margin: 0;
    font-family: 'open Sans', sans-serif;
}

header {
    background-image: url('../images/banner/banner1.png');
    background-position: bottom right, left;
    background-size: 100% 100%;
    width: 1600px;
    height: 808px;
    padding: 5px;


}

/* Navigation Bar  Start*/
nav {
    font-size: 20px;
    margin: 50px 200px;
}

.Navi-Title {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    height: 2opx;
}

.Navi-Sub-Title {
    color: rgb(39, 36, 36);
    font-weight: 365;
    font-size: 16px;
    padding: 30px;
}

.btn-primary {
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    padding: 14px 40px;
}

/* Navigation Bar End */

.About {
    display: flex;
    width: 600;
    height: 550px;
    padding: 50px 250px;


}

.About-Title {
    padding: 200px 15px;

}

main {
    background-size: 100% 100%;
}

/* Section Style */

.section-Title {
    color: #0e0c0c;
    font-weight: bold;
    font-size: 100px;

}

.Section-Sub-Title {
    color: #444347;
    font-size: 16PX;
    font-weight: 50PX;
    padding: 5PX;
}

.List {
    padding: 5px;
    list-style-type: circle;
}

.Items {
    padding: 3px;
}

/* MY-Plans*/

.My-Plans {
    text-align: center;
    margin-top: 130px 200px;

}

.My-plans-Title {
    font-size: 22px;
}

/* Skill Style */

.Skill-Containar {
    display: flex;
    margin: 10px 10px;
    padding: 20px 400px;
}

.Skill {
    padding: 20px 50px;
}

.Skill-Title {

    font-weight: 700;
    font-size: 16px;
}

.Skill-Disc {
    padding: 10px;
    color: rgb(126, 124, 124);
}

/* Gradian Style Start */

:root {
    --primary: hsla(348, 97%, 63%, 0.65);
    --secondary: hsla(230, 96%, 63%, 0.65);
}

.grading-color {
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
        url('../images/watch.png')no-repeat center center/ cover;
    height: 25vh;
    width: 150vem;
    margin: 100px;
    font-family: 'playball';
    font-size: 20px;
    color: #fff;
    display: grid;
    place-items: center;
    place-content: center;
    border-radius: 10px;
}

/* Gradian Style End */
footer {
    color: #fff;
   background: #000;
   font-size: 20px;
   font-weight: 600;
   margin: 2px;
   height: 100%;
   width:100%;
}
/* Footer Style End */
.footer-containar {
    display: flex;
    margin: 130px 200px;
}
.footer-btn{
    margin: 15px;
    
}