* {
    margin: 0;
    font-family: 'open Sans', sans-serif;
}

header {
    background-image: url('../images/banner/banner3.png');
    background-position: bottom right, left;
    background-size: 100% 100%;
    width: 1600px;
    height: 808px;
    padding: 5px;


}

/* Navigation Bar  Start*/
nav {
    font-size: 20px;
    margin: 50px 200px;

}

.Navi-Title {
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    width: 525px;
    height: 2opx;
}

.Navi-Sub-Title {
    color: rgb(39, 36, 36);
    font-weight: 365;
    font-size: 16px;
    padding: 10px;

}

.btn-primary {
    background-color: #FD6E0A;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: aliceblue;
    padding: 14px 40px;
    margin: 10px;
}

/* Navigation Bar End */

/* Section Style */
.About {
    width: 100%;
    padding: 78px 0px;
    background-color: #fff;
}

.about img {
    width: 569px;
    height: 723.3px;
}

.About-Title {
    width: 550px;
    margin-left: 50px !important;
    padding-top: 250px !important;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.section-Title {
    color: #0e0c0c;
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 20px;

}

.Section-Sub-Title {
    color: #444347;
    font-size: 16PX;
    font-weight: 50PX;
    padding: 5PX;
}

.List {
    padding: 5px;
    list-style-type: circle;
}

.Items {
    margin: 0 0 10px 10px;
}

/* My Plans Start */

.Plans-Contaion {
    display: flex;
    gap: 30px;


}

.Plans {
    text-align: center;
    margin-top: 130px;
}

.Plans-title {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;
}

.My-plans-Title {
    margin: 10px 0 0 150px;
    padding: 10px 10px 40px 10px;
}

.Plans-title-sub {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.Plans-desc {
    color: #757575;
}

/* My Plans  End */

main {
    background-size: 100% 100%;
}

/* Gradian Style Start */

:root {
    --primary: hsla(348, 100%, 51%, 0.45);
    --secondary: hsla(230, 96%, 63%, 0.20);
}

.grading-color {
    background: linear-gradient(135deg, var(--primary), var(--secondary)),
        url('../images/watch.png')no-repeat center center/ cover;
    height: 40vh;
    width: 150vem;
    margin: 50px 177px;
    font-family: 'playball';
    font-size: 20px;
    color: #fff;
    display: grid;
    place-items: center;
    place-content: center;
    border-radius: 10px;
}

.gradian-Title {
    font-size: 25px;
    padding: 20px 80px;
    margin-right: 600px;
}

.gradian-Title-btn {
    display: grid;
    padding: 10px 10px;
    margin-right: 840px;
}
    /* Gradian Style End */

               /* footer  Style  */
.footer {
    color: aliceblue;
    display: flex;
    gap: 100px;
    background: #0f0f0f;
    padding: 130px 150px;
}

.footer-title {
    padding: 10px;
    text-align: left;
    margin-left: -8px;

}

.footer-desc {
    font-size: 18px;
    color: #fff;
    padding-bottom: 20px;
}

.contect-title {
    text-align: left;
    margin-left: 0px;
    padding: 10px;

}

.footer-btn-primary {
    color: #f5efef;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    font-weight: 300;
    background-color: rgb(243, 10, 10);
    padding: 8px 15px;
    margin: 10px 3px;
}

.Email {
    border: #faf6f6;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 18px;
    color: #0f0f0f;
    background-color: rgb(17, 15, 15);
    height: 30px;
}





.contact a {
    text-decoration: none;

}

.image {
    padding: 10px;
    text-decoration: none;

}